<ion-view>
  <ion-content class="bg-black">
    <div class="goop-bg">
      <div class="page-title padding-horizontal">
        <h4>Confessions </h4>
      </div>
    </div>
    <div class="confes-box padding-horizontal border-bl">
      <div class="conf-title">
        <h1 class="calm-color">CONFESS
YOUR SECRETS</h1>
      </div>
      <div class="cards">
        <div class=" item-text-wrap">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </div>
      </div>
      <div class="nav-ui">
    <img src="img/nav.png" alt="">
      </div>
    </div>
    <div class="list-all">

      <div class="mt30 padding-horizontal">
        <div class="card">
          <div class="item-text-wrap padd7">
            <div class="fav pull-right">
              <img src="img/lips3.png" alt="">
            </div>
            <div class="row">
              <div class="col-75">
                <div class="all-title">
                  <span>March 13, 2015 By LLL</span>
                  <h4 class="calm-color">Love for Two, Please!</h4>
                </div>
              </div>
              <div class="col-25">
                <div class="view-count pull-right">
                  <h4>250</h4>
                  <span>views</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="desc-all">
                  <p>Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-all">
      <div class="mt30 padding-horizontal">
        <div class="card">
          <div class="item-text-wrap padd7">
            <div class="fav pull-right">
              <img src="img/lips3.png" alt="">
            </div>
            <div class="row">
              <div class="col-75">
                <div class="all-title">
                  <span>March 13, 2015 By LLL</span>
                  <h4 class="calm-color">Love for Two, Please!</h4>
                </div>
              </div>
              <div class="col-25">
                <div class="view-count pull-right">
                  <h4>250</h4>
                  <span>views</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="desc-all">
                  <p>Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
