<ion-view>
  <ion-content class="bg-black">
<div class="goop-bg">
<div class="page-title padding-horizontal">
  <h4> Goops</h4>
</div>
</div>
<div class="list-all" ng-repeat="goops in loveblog track by $index">
  <div class="img-list">
    <img ng-src="{{goops.image|serverimage}}" alt="" class="full-image">
  </div>
  <div class="list-data padding-horizontal">
    <div class="card">
      <div class="item-text-wrap padd7">
        <div class="fav pull-right">
        <img src="img/lips2.png" alt="">
        </div>
        <div class="row">
          <div class="col-75">
            <div class="all-title">
              <span>{{goops.timestamp|date}} By {{goops.author}}</span>
              <h4 class="energized-color">{{goops.title}}</h4>
            </div>
          </div>
          <div class="col-25">
            <div class="view-count pull-right">
              <h4>{{goops.views}}</h4>
              <span>view</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="desc-all">
              <p ng-bind-html="goops.desc | cut:true:100:'. . .'"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </ion-content>
</ion-view>
