<ion-view>
  <!-- <ion-nav-title class="text-center">
    <img src="img/logo.png">
  </ion-nav-title> -->
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <div class="img-bg">
          <img src="img/love.jpg" alt="love" class="full-image">
        </div>
      </div>
      <div class="col col-50">
        <div class="content-box">
          <div class="content-det">
            <p>
              Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt. She brought it up to her face to smell it. The way their smells mingled made her head dizzy. It was no secret there was another woman. He’d not cheated. Soon as
              he was sure, he had confessed. Of course there was shouting, crying, going silent and all those things, but she’d agreed, on one single thread. The way Peter had told her that he still loved her as much as before and how she could see in...
            </p>
          </div>
          <div class="content-up">
            <h4>“I saw this lipstick mark on your shirt…”</h4>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col col-50">
        <div class="content-box">
          <div class="content-det">
            <p>
              “Oh my…aaahh God Saavi!” Aaditya moaned as he climaxed. He lied down beside Raashi, kissed her on the cheek and passed out there. This was the third time in a row he’d taken that name while making love to his wife. Raashi took his hand off herself and
              got up. She put on a robe and went into the study.
            </p>
            <p>
              “He did it again tonight” she texted Meera.
            </p>
            <p>
              “Why don’t you just ask him” Meera replied.
            </p>
            <p>
              “He doesn’t remember. He used to say other things when…you know when. But next day when I used to tease him, he wouldn’t..
            </p>
          </div>
          <div class="content-up">
            <h4>“Oh my…aaahh God Saavi!”
 Aaditya moaned as he climaxed.</h4>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="img-bg">
          <img src="img/lie.jpg" alt="love" class="full-image">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="img-bg">
          <img src="img/lust.jpg" alt="love" class="full-image">
        </div>
      </div>
      <div class="col col-50">
        <div class="content-box">
          <div class="content-det">
            <p>
              “Thanks and bye!” a drunken Mansi said to Yash as they reached her hostel room.

            </p>
            <p>“Can’t I…talk to you?” Yash replied and Mansi could see in his eyes that he genuinely wanted to talk…the thing with Yash was, even his eyes lied.
            </p>
            <p>“There’s nothing to talk about.” Mansi replied.
            </p>
            <p>

              “Of course there is! We’re meeting after a year. You didn't even tell me about your engagement” he said, looking at her ring. “That just means you’re not important.” ...
            </p>
          </div>
          <div class="content-up">
            <h4>“Yash please”
she said,
a little
breathless.</h4>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
