<ion-view>
  <!-- <ion-nav-title class="text-center">
    <img src="img/logo.png">
  </ion-nav-title> -->
  <ion-content>
    <div class="row padding0">
      <div class="col col-50 padding0">
        <div class="img-bg" ui-sref="app.love">
          <img src="img/love.jpg" alt="love" class="full-image">
        </div>
      </div>
      <div class="col col-50 padding0">
        <div class="img-bg pos-rel">
          <img src="img/bg-black.jpg" alt="" class="full-image">
          <div class="content-box text-up-side pad1">

            <div class="content-det">
              <p ng-bind-html="allCategory[1][0].desc">

              </p>
            </div>
            <div class="content-up text-head-up">
              <h4 class="positive-color text-up" ng-bind="allCategory[1][0].title"></h4>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="row padding0">
      <div class="col col-50 padding0">
        <div class="img-bg pos-rel">
          <img src="img/bg-black.jpg" alt="" class="full-image">
        <div class="content-box text-up-side pad15">
          <div class="content-det">
            <p ng-bind-html="allCategory[2][0].desc">

            </p>

          </div>
          <div class="content-up text-head-up">
            <h4 class="balanced-color text-up" ng-bind="allCategory[2][0].title"></h4>
          </div>
        </div>
      </div>
      </div>
      <div class="col col-50 padding0">
        <div class="img-bg" ui-sref="app.lie">
          <img src="img/lie.jpg" alt="love" class="full-image">
        </div>
      </div>
    </div>
    <div class="row padding0">
      <div class="col col-50 padding0">
        <div class="img-bg" ui-sref="app.lust">
          <img src="img/lust.jpg" alt="love" class="full-image">
        </div>
      </div>
      <div class="col col-50 padding0">
        <div class="img-bg pos-rel">
          <img src="img/bg-black.jpg" alt="" class="full-image">
        <div class="content-box text-up-side pad15">
          <div class="content-det" >
            <p ng-bind-html="allCategory[3][0].desc">

            </p>

          </div>
          <div class="content-up text-head-up top-trans">
            <h4 class="energized-color text-up"  ng-bind="allCategory[3][0].title"></h4>
          </div>
        </div>
      </div>
      </div>

    </div>
    <div class="goops-section">
      <div class="bg-goops">
      <div class="text-center mar-auto">
        <img src="img/goops-text.png" alt="">
      </div>
        <div class="sliders">
          <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true">
            <ion-slide >
              <div class="box blue">
                <div class="slide1">
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s1.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Awkward! This Singer Tried Flirting With
A 15 Year Old On Stage! </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s2.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Lead Pair Of Rom-com Getting Too Cosy
For Wife’s Comfort?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s3.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Is It Time For a New Love Story in Hrithik
Roshan's Life?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">
                <div class="slide1">
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s1.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Awkward! This Singer Tried Flirting With
A 15 Year Old On Stage! </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s2.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Lead Pair Of Rom-com Getting Too Cosy
For Wife’s Comfort?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s3.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Is It Time For a New Love Story in Hrithik
Roshan's Life?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">
                <div class="slide1">
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s1.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75 ">
                        <div class="text-data">
                          <h4>Awkward! This Singer Tried Flirting With
  A 15 Year Old On Stage! </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s2.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Lead Pair Of Rom-com Getting Too Cosy
  For Wife’s Comfort?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s3.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Is It Time For a New Love Story in Hrithik
  Roshan's Life?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </div>
    <div class="confession">
      <div class="con-title">
        <h4 class="f300 border-blue display-inline mar15">CONFESSIONS</h4>
        <h4 class="font-robot-italic blue-color margin0">#51</h4>
        <div class="desc"  ng-bind-html="allCategory[4][1].title">
          <p>{{blog.title}}</p>
        </div>
      </div>
      <div class="more">
        <div class="row">
          <div class="col-75">
            <div class="list-more">
              <div class="by">
                <span>By:  {{allCategory[4].author}}  | {{allCategory[4].timestamp|date}}</span>
              </div>
            </div>
          </div>
          <div class="col-25">
            <div class="read-more pull-right">
              <span><a href="" class="font-robot-italic">READ MORE</a></span>
            </div>
          </div>
        </div>


        <div class="view-more">
          <button class="button button-calm" ui-sref="app.confessions">
            view more
          </button>
        </div>
      </div>
    </div>
    <div class="confession">
      <div class="con-title">
        <h4 class="f300 border-green display-inline mar15">Ask the sexpert</h4>
        <h4 class="font-robot-italic green-color margin0">#51</h4>
        <div class="desc">
          <p ng-bind-html="allCategory[5][1].title"></p>
        </div>
      </div>
      <div class="more">
        <div class="row">
          <div class="col-75">
            <div class="list-more">
              <div class="by">
                <span>By: {{allCategory[5].author}}  |  {{allCategory[5].timestamp|date}}</span>
              </div>

            </div>
          </div>
          <div class="col-25">
            <div class="read-more pull-right">
              <span><a href="" class="font-robot-italic">READ MORE</a></span>
            </div>
          </div>
        </div>

        <div class="view-more">
          <button class="button button-balanced" ui-sref="app.sexpert">
            view more
          </button>
        </div>
      </div>
    </div>
    <div class="confession">
      <div class="con-title">
        <h4 class="f300 border-red display-inline mar15">Love Queries</h4>
        <h4 class="font-robot-italic red-color margin0">#51</h4>
        <div class="desc">
          <p ng-bind-html="allCategory[6][1].title"></p>
        </div>
      </div>
      <div class="more">
        <div class="row">
          <div class="col-75">
            <div class="list-more">
              <div class="by">
                <span>By: {{allCategory[6].author}}  |  {{allCategory[6].timestamp|date}}</span>
              </div>

            </div>
          </div>
          <div class="col-25">
            <div class="read-more display-inline pull-right">
              <span><a href="" class="font-robot-italic">READ MORE</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="view-more">
         <button class="button button-assertive" ui-sref="app.love-quiery">
           view more
         </button>
       </div>
    </div>
  </ion-content>
</ion-view>
