<ion-view>
  <!-- <ion-nav-title class="text-center">
    <img src="img/logo.png">
  </ion-nav-title> -->
  <ion-content>
    <div class="row padding0">
      <div class="col col-50 padding0">
        <div class="img-bg">
          <img src="img/love.jpg" alt="love" class="full-image">
        </div>
      </div>
      <div class="col col-50 padding0">
        <div class="img-bg pos-rel">
          <img src="img/bg-black.jpg" alt="" class="full-image">
          <div class="content-box text-up-side pad1">

            <div class="content-det">
              <p>
                Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt. She brought it up to her face to smell it. The way their smells mingled made her head dizzy. It was no secret there was another woman. He’d not cheated. Soon as
                he was sure, he had confessed. Of course there was shouting, crying, going silent and all those things, but she’d agreed, on one single thread. The way Peter had told her that he still loved her as much as before and how she could see
                in...
              </p>
            </div>
            <div class="content-up text-head-up">
              <h4 class="positive-color text-up">“I saw this lipstick mark on your shirt…”</h4>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="row padding0">
      <div class="col col-50 padding0">
        <div class="img-bg pos-rel">
          <img src="img/bg-black.jpg" alt="" class="full-image">
        <div class="content-box text-up-side pad15">
          <div class="content-det">
            <p>
              “Oh my…aaahh God Saavi!” Aaditya moaned as he climaxed. He lied down beside Raashi, kissed her on the cheek and passed out there. This was the third time in a row he’d taken that name while making love to his wife. Raashi took his hand off herself and
              got up. She put on a robe and went into the study.
            </p>
            <p>
              “He did it again tonight” she texted Meera.
            </p>
            <p>
              “Why don’t you just ask him” Meera replied.
            </p>
            <p>
              “He doesn’t remember. He used to say other things when…you know when. But next day when I used to tease him, he wouldn’t..
            </p>
          </div>
          <div class="content-up text-head-up">
            <h4 class="balanced-color text-up">“Oh my…aaahh God Saavi!”
 Aaditya moaned as he climaxed.</h4>
          </div>
        </div>
      </div>
      </div>
      <div class="col col-50 padding0">
        <div class="img-bg">
          <img src="img/lie.jpg" alt="love" class="full-image">
        </div>
      </div>
    </div>
    <div class="row padding0">
      <div class="col col-50 padding0">
        <div class="img-bg">
          <img src="img/lust.jpg" alt="love" class="full-image">
        </div>
      </div>
      <div class="col col-50 padding0">
        <div class="img-bg pos-rel">
          <img src="img/bg-black.jpg" alt="" class="full-image">
        <div class="content-box text-up-side pad15">
          <div class="content-det">
            <p>
              “Thanks and bye!” a drunken Mansi said to Yash as they reached her hostel room.

            </p>
            <p>“Can’t I…talk to you?” Yash replied and Mansi could see in his eyes that he genuinely wanted to talk…the thing with Yash was, even his eyes lied.
            </p>
            <p>“There’s nothing to talk about.” Mansi replied.
            </p>
            <p>

              “Of course there is! We’re meeting after a year. You didn't even tell me about your engagement” he said, looking at her ring. “That just means you’re not important.” ...
            </p>
          </div>
          <div class="content-up text-head-up top-trans">
            <h4 class="energized-color text-up">“Yash please”
she said,
a little
breathless.</h4>
          </div>
        </div>
      </div>
      </div>

    </div>
    <div class="goops-section">
      <div class="bg-goops">
      <div class="text-center mar-auto">
        <img src="img/goops-text.png" alt="">
      </div>
        <div class="sliders">
          <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true">
            <ion-slide>
              <div class="box blue">
                <div class="slide1">
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s1.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Awkward! This Singer Tried Flirting With
A 15 Year Old On Stage! </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s2.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Lead Pair Of Rom-com Getting Too Cosy
For Wife’s Comfort?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s3.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Is It Time For a New Love Story in Hrithik
Roshan's Life?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">
                <div class="slide1">
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s1.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Awkward! This Singer Tried Flirting With
A 15 Year Old On Stage! </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s2.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Lead Pair Of Rom-com Getting Too Cosy
For Wife’s Comfort?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s3.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Is It Time For a New Love Story in Hrithik
Roshan's Life?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">
                <div class="slide1">
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s1.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75 ">
                        <div class="text-data">
                          <h4>Awkward! This Singer Tried Flirting With
  A 15 Year Old On Stage! </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s2.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Lead Pair Of Rom-com Getting Too Cosy
  For Wife’s Comfort?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box1">
                    <div class="row padding0">
                      <div class="col-25 padding0">
                        <div class="img-1">
                          <img src="img/s3.jpg" alt="" class="full-image">
                        </div>
                      </div>
                      <div class="col-75">
                        <div class="text-data">
                          <h4>Is It Time For a New Love Story in Hrithik
  Roshan's Life?</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </div>
    <div class="confession">
      <div class="con-title">
        <h4 class="f300 border-blue display-inline mar15">CONFESSIONS</h4>
        <h4 class="font-robot-italic blue-color margin0">#51</h4>
        <div class="desc">
          <p>I was into a relationship for 5 years.. I loved him more than anything in this world. But we always fought. I never was loved by anyone.. Not by parents, not by sisters, friends betrayed me. Even he started behaving which i never expectd. Made
            fun of me always, stopped hearing my problem, he just stopped talking with me. We lived together but he was never there with me. Ignored me for his friends, family.. Then he would always spend my money and will say he has spent alot on me
            which i dont even...</p>
        </div>
      </div>
      <div class="more">
        <div class="row">
          <div class="col-75">
            <div class="list-more">
              <div class="by">
                <span>By: Anonymous  |  1 Day ago</span>
              </div>
            </div>
          </div>
          <div class="col-25">
            <div class="read-more pull-right">
              <span><a href="" class="font-robot-italic">READ MORE</a></span>
            </div>
          </div>
        </div>


        <div class="view-more">
          <button class="button button-calm">
            view more
          </button>
        </div>
      </div>
    </div>
    <div class="confession">
      <div class="con-title">
        <h4 class="f300 border-green display-inline mar15">Ask the sexpert</h4>
        <h4 class="font-robot-italic green-color margin0">#51</h4>
        <div class="desc">
          <p>I had unprotected sex with my boyfriend. I am getting married soon, so will my husband and I be in the danger of contracting AIDS?</p>
        </div>
      </div>
      <div class="more">
        <div class="row">
          <div class="col-75">
            <div class="list-more">
              <div class="by">
                <span>By: Anonymous  |  1 Day ago</span>
              </div>

            </div>
          </div>
          <div class="col-25">
            <div class="read-more pull-right">
              <span><a href="" class="font-robot-italic">READ MORE</a></span>
            </div>
          </div>
        </div>

        <div class="view-more">
          <button class="button button-balanced">
            view more
          </button>
        </div>
      </div>
    </div>
    <div class="confession">
      <div class="con-title">
        <h4 class="f300 border-red display-inline mar15">Love Queries</h4>
        <h4 class="font-robot-italic red-color margin0">#51</h4>
        <div class="desc">
          <p>I have just graduated and have been offered my dream job in Mumbai. But it will be moving away from my family and my boyfriend. I don’t know if i will be able to live without him.</p>
        </div>
      </div>
      <div class="more">
        <div class="row">
          <div class="col-75">
            <div class="list-more">
              <div class="by">
                <span>By: Anonymous  |  1 Day ago</span>
              </div>

            </div>
          </div>
          <div class="col-25">
            <div class="read-more display-inline pull-right">
              <span><a href="" class="font-robot-italic">READ MORE</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="view-more">
         <button class="button button-assertive">
           view more
         </button>
       </div>
    </div>
  </ion-content>
</ion-view>
