<ion-view>
  <ion-content class="bg-black">
<div class="love-bg">
<div class="page-title padding-horizontal">
  <h4>love</h4>
</div>
</div>
<div class="list-all" ng-repeat="love in loveblog track by $index">
  <div class="img-list">
    <img ng-src="{{love.image|serverimage}}" alt="" class="full-image">
  </div>
  <div class="list-data padding-horizontal">
    <div class="card">

      <div class="item-text-wrap padd7">
        <div class="fav pull-right">
      <img src="img/heart.png" alt="">
        </div>
        <div class="row">
          <div class="col-75">
            <div class="all-title">
              <span>{{love.timestamp|date}} By {{love.author}}</span>
              <h4 class="positive-color">{{love.title}}</h4>
            </div>
          </div>
          <div class="col-25">
            <div class="view-count pull-right">
              <h4>250</h4>
              <span>views</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="desc-all ">
              <p ng-bind-html="love.desc| cut:true:367:'. . .'"> Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="list-all">
  <div class="img-list">
    <img src="img/all-bg.jpg" alt="" class="full-image">
  </div>
  <div class="list-data padding-horizontal">
    <div class="card">
      <div class="item-text-wrap padd7">
        <div class="fav pull-right">
          <img src="img/heart.png" alt="">
        </div>
        <div class="row">
          <div class="col-75">
            <div class="all-title">
              <span>March 13, 2015 By LLL</span>
              <h4 class="positive-color">Love for Two, Please!</h4>
            </div>
          </div>
          <div class="col-25">
            <div class="view-count pull-right">
              <h4>250</h4>
              <span>views</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="desc-all">
              <p>Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
  </ion-content>
</ion-view>
