<ion-view>
  <ion-content>
<div class="love-bg">
<div class="page-title padding-horizontal">
  <h4> Lust</h4>
</div>
</div>
<div class="list-all">
  <div class="img-list">
    <img src="img/all-bg.jpg" alt="" class="full-image">
  </div>
  <div class="list-data padding-horizontal">
    <div class="card">
      <div class="item-text-wrap">
        <div class="fav pull-right">
        <img src="img/lips.png" alt="">
        </div>
        <div class="row">
          <div class="col-75">
            <div class="all-title">
              <span>March 13, 2015 By LLL</span>
              <h4>Love for Two, Please!</h4>
            </div>
          </div>
          <div class="col-25">
            <div class="view-count pull-right">
              <h4>250</h4>
              <span>view</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="desc-all">
              <p>Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="list-all">
  <div class="img-list">
    <img src="img/all-bg.jpg" alt="" class="full-image">
  </div>
  <div class="list-data padding-horizontal">
    <div class="card">
      <div class="item-text-wrap">
        <div class="fav pull-right">
          <i class="fa fa-heart"></i>
        </div>
        <div class="row">
          <div class="col-75">
            <div class="all-title">
              <span>March 13, 2015 By LLL</span>
              <h4>Love for Two, Please!</h4>
            </div>
          </div>
          <div class="col-25">
            <div class="view-count pull-right">
              <h4>250</h4>
              <span>view</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="desc-all">
              <p>Sophia sat on the floor of her laundry room, looking at the lipstick mark on Peter’s shirt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
